body{
    background: rgb(209, 135, 135);
}
header{
    text-align: center;
    font: 20pt Courier;
    padding:10px;
}
section{
    margin:auto;
    text-align: center;
    background: rgb(255, 253, 249);
    width: 500px;
    border-radius:15px;
}
div#userbuttons{
    padding: 15px;
}
div#text{
    padding: 15px;
}
p#text{
    padding:15px;
}
footer{
    text-align: center;
}