body{
    background:rgb(148, 142, 228)
}
header{
    text-align: center;
    font: 20pt Courier;
    padding: 15px;
}
section{
    background: white;
    width: 500px;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    padding: 15px;

}
div#userbuttons{
    padding: 10px;
}
div#result{
    padding: 10px;
}
select{
    width: 200px;
}
p#submit{
    padding:10px;
}

footer{
    padding: 10px;
    text-align: center;
}
